In [1]:
import os
import random
import pandas as pd

In [2]:
dag_path = os.getcwd()

name_prodtos = ['jugo Manzana','Jugo Pera','Jugo Tomate', 'Jugo Fresa', 'Jugo Naranja']
name_productos = [random.choice(name_prodtos) for x in range(13)]

In [3]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [4]:
name_productos

['Jugo Fresa',
 'Jugo Pera',
 'Jugo Fresa',
 'Jugo Fresa',
 'jugo Manzana',
 'Jugo Fresa',
 'Jugo Fresa',
 'Jugo Naranja',
 'Jugo Fresa',
 'jugo Manzana',
 'jugo Manzana',
 'Jugo Tomate',
 'jugo Manzana']

In [5]:
#df_name_productos = pd.DataFrame(name_productos)
Ventas = pd.DataFrame(name_productos, columns=['Nombre Producto'])

categorias = ['Citrico', 'Frio','Pruebas']
df_categoria= [random.choice(categorias) for x in range(13)]

df_Valor =[round(random.uniform(0.54,1.20),2) for _ in range(13)]

Ventas['Categoria'] = df_categoria 
Ventas['Valor'] = df_Valor

Ventas

   Nombre Producto Categoria  Valor
0       Jugo Fresa   Citrico   1.12
1        Jugo Pera   Pruebas   1.05
2       Jugo Fresa      Frio   0.82
3       Jugo Fresa      Frio   0.63
4     jugo Manzana   Citrico   1.13
5       Jugo Fresa   Citrico   1.07
6       Jugo Fresa      Frio   1.07
7     Jugo Naranja   Pruebas   0.64
8       Jugo Fresa   Citrico   0.90
9     jugo Manzana      Frio   1.13
10    jugo Manzana   Citrico   0.89
11     Jugo Tomate   Citrico   0.81
12    jugo Manzana      Frio   0.69